*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header, footer
{
    text-align: center;
}
#about img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 0;
    margin-bottom: 0;
}
body {
    background-color: #333;
    color: #fff;
}
nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    border-top: 2px solid #45c4e4;
    border-bottom: 2px solid #45c4e4;
    background-color: #fff;
    color: #333;
}
nav ul li 
{
    text-decoration: none;
}
.about-info
{
display:grid;
grid-template-columns: 1fr 1fr;
}
@media (max-width: 768px)
{
    .about-info{
        grid-template-columns: 1fr;
    }
}