header {
    margin-bottom: 20px; /* Adds space below the header */
}

nav {
    margin-bottom: 20px; /* Adds space below the navigation bar */
}

#about {
    margin-top: 20px; /* Adds space above the about section */
    margin-bottom: 20px; /* Adds space below the about section */
}

#projects {
    margin-top: 20px; /* Adds space above the projects section */
    margin-bottom: 20px; /* Adds space below the projects section */
}

#contact {
    margin-top: 20px; /* Adds space above the contact section */
    margin-bottom: 20px; /* Adds space below the contact section */
}